.header {
  position: fixed;
  width: 100%;
  z-index: $zindex-fixed;
  .navbar {
    //navbar variables
    --bs-navbar-color: #{$black};
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, .9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-focus-width: 0;
    //

    background-color: $secondary;
    padding: $spacer*.875 0;
    border-bottom: 2px solid $border-color;
    &-brand {
      font-weight: $font-weight-bold;
    }
    &-toggler {
      transform: scale(.8);
      border: none;
      margin-right: -$spacer;
    }
    &-collapse {
      position: fixed;
      background-color: $secondary;
      top: 74px;
      left: 0;
      z-index: -1;
      height: 100vh;
      width: 100%;
      display: block;
      padding: $spacer*1.5 0;
      transition: $transition-base;
      transform: translateY(-105%);
      &.show {
        transform: translateY(0);
      }
      .top-bar {
        margin-bottom: $spacer*1.5;
        display: flex;
        .btn {
          flex: 1;
        }
      }
      .nav-item {
        border-top: 1px solid $black;
        &:last-child {
          border-bottom: 1px solid $black;
        }
        .nav-link {
          &[target="_blank"] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='18'%3E%3Cpath d='M296 96c13.3 0 24 10.7 24 24V360c0 13.3-10.7 24-24 24s-24-10.7-24-24V177.9L41 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231H56c-13.3 0-24-10.7-24-24s10.7-24 24-24H296z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right center;
          }
        }
      }
    }
  }
}