.header {
  position: fixed;
  width: 100%;
  z-index: $zindex-fixed;
  &:after {
    content: "";
    display: block;
    width: 100%;
    box-shadow: 0 0 10px 8px $border-color;
    transition: $transition-base;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  .navbar {
    //navbar variables
    --bs-navbar-color: #{var(--bs-body-color)};
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, .9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-focus-width: 0;
    //

    background-color: var(--bs-secondary);
    padding: $spacer*.875 0;
    border-bottom: 2px solid var(--bs-border-color);
    transition: $transition-base, background-color none;
    @include media-breakpoint-up(lg) {
      border-bottom: 0;
    }
    .container {
      position: relative;
    }
    &-brand {
      font-weight: $font-weight-bold;
      transition: $transition-base;
      color: var(--bs-body-color);
      @include media-breakpoint-up(lg) {
        position: absolute;
        top: $spacer*1.375;
        z-index: 1;
        .fill-menu & {
          top: -$spacer * .125;
        }
      }
    }
    .dark-mode-toggle {
      position: absolute;
      left: 160px;
      top: px;
      z-index: 1;
      display: grid;
      transition: $transition-base;
      @include media-breakpoint-up(lg) {
        top: 35px;
        left: 192px;
      }
      .fill-menu & {
        top: 14px;
        @include media-breakpoint-up(lg) {
          top: 10px;
        }
      }
      svg {
        grid-row: 1;
        grid-column: 1;
        &:last-of-type {
          display: none;
        }
        .dark & {
          display: none;
          &:last-of-type {
            display: block;  
          }
        }
      }
    }
    &-toggler {
      transform: scale(.8);
      border: none;
      margin-right: -$spacer;
    }
    &-collapse {
      position: fixed;
      background-color: var(--bs-secondary);
      top: 74px;
      left: 0;
      z-index: -1;
      height: 100vh;
      width: 100%;
      display: block;
      padding: $spacer*1.5 0;
      transition: $transition-base, background-color 0s;
      transform: translateY(-105%);
      &.show {
        transform: translateY(0);
      }
      .fill-menu & {
        top: 62px;
      }
      @include media-breakpoint-up (lg) {
        transform: translateY(0);
        position: static;
        height: auto;
        z-index: 0;
        .fill-menu & {
          padding: 0;
        }
      }
      .container {
        @include media-breakpoint-up(lg) {
          padding: 0;
        }
        .top-bar {
          margin-bottom: $spacer*1.5;
          display: flex;
          justify-content: flex-end;
          position: relative;
          @include media-breakpoint-up(lg){
            margin-bottom: $spacer*1.25;
            .fill-menu & {
              margin-bottom: $spacer*.5;
            }
          }
          .btn {
            flex: 1;
            @include media-breakpoint-up(lg) {
              flex: 0 1 auto;
            }
          }
        }
        .navbar-nav {
          @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            column-gap: $gap;
          }
          .nav-item {
            border-top: 1px solid var(--bs-body-color);
            &:last-child {
              border-bottom: 1px solid var(--bs-body-color);
              @include media-breakpoint-up(lg) {
                border-bottom: none;
              }
            }
            &:nth-of-type(even) {
              grid-row: 1;
            }
            &:nth-of-type(odd) {
              grid-row: 2;
              .fill-menu & {
                grid-row: 1;
              }
            }
            &:first-child,
            &:nth-child(2) {
              grid-column: 1 / span 2;
              .fill-menu & {
                grid-column: auto / span 1;
              }
            }
            .nav-link {
              color: var(--bs-body-color);
              &[target="_blank"] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='18'%3E%3Cpath d='M296 96c13.3 0 24 10.7 24 24V360c0 13.3-10.7 24-24 24s-24-10.7-24-24V177.9L41 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231H56c-13.3 0-24-10.7-24-24s10.7-24 24-24H296z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: right center;
                svg {
                  display: none;
                }
                &:hover {
                  svg {
                    opacity: .8;
                  }
                }
                .dark &{
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='%23fff' height='18'%3E%3Cpath d='M296 96c13.3 0 24 10.7 24 24V360c0 13.3-10.7 24-24 24s-24-10.7-24-24V177.9L41 409c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l231-231H56c-13.3 0-24-10.7-24-24s10.7-24 24-24H296z'/%3E%3C/svg%3E");
                }
              }
            }
            .fill-menu & {
              @include media-breakpoint-up(lg) {
                &.social {
                  position: absolute;
                  top: 2px;
                  border-top: none;
                  .nav-link {
                    background-image: none;
                    padding: $btn-padding-y-sm;
                    span {
                      display: none;
                    }
                    svg {
                      display: block;
                    }
                  }
                  &:last-child {
                    right: 256px;
                  }
                  &:nth-child(5) {
                    right: 230px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .fill-menu & {
    &::after {
      opacity: 1;
    }
    .navbar {
      padding: $spacer*.5 0;
    }
  }
}