h1, .h1 {
  font-size: calc(2.5rem + 1.875vw);
  margin-bottom: $spacer*2;
  @include media-breakpoint-up(md) {
    width: 80%;
  }
  @include media-breakpoint-up(lg) {
    width: 65%;
    margin-bottom: $spacer*3;
  }
  @include media-breakpoint-up(xl) {
    width: 55%;
  }
}

h2 {
  line-height: 1.15;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-base * 2.25;
  }
}
